<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Full Stack Web Developer">
  <meta name="author" content="Michael Ghukasyan">

  <title>Michael Ghukasyan - Freelance Web Developer</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="css/ghukasyan.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="img-fluid logo" src="img/logo.png"  alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
          <div class="intro-heading text-uppercase">Hi!</div>
          <div class="intro-lead-in">I'm <span>Michael Ghukasyan</span></div>
          <p class="masthead-subheading font-weight-light mb-0">Full Stack Web Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://web.facebook.com/michaelghukasyan">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:work@ghukasyan.me">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/redmikay">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        <a class="btn btn-start btn-xl text-uppercase js-scroll-trigger" href="#services"><span>Tell Me More</span></a>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">I provide various web development services to meet your business needs.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xl-3 col-sm-6 single-service">
          <div class="inner">
            <span class="fa-stack fa-4x">
              <i class="fas fa-laptop-code fa-stack-1x text-primary fa-inverse"></i>
            </span>
            <h4 class="service-heading">Frontend and Backend Web Development</h4>
            <p class="text-muted">I build custom websites and online apps for my clients. The projects range from small single-page applications to a large scale websites and apps.</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 single-service">
          <div class="inner">
            <span class="fa-stack fa-4x">
              <i class="fab fa-wordpress-simple fa-stack-1x text-primary fa-inverse"></i>
            </span>
            <h4 class="service-heading">WordPress & Other CMS Websites</h4>
            <p class="text-muted">I have experience of building online shops, blogs, corporate websites, custom membership websites and other websites with WordPress, Magento & other CMS.</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 single-service">
          <div class="inner">
            <span class="fa-stack fa-4x">
              <i class="fab fa-facebook fa-stack-1x text-primary fa-inverse"></i>
            </span>
            <h4 class="service-heading">Facebook Tabs, Facebook Apps</h4>
            <p class="text-muted">I can build various applications with Facebook SDK, including Facebook page tabs, Facebook games, Facebook apps et cetra.</p>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 single-service">
          <div class="inner">
            <span class="fa-stack fa-4x">
              <i class="fas fa-gamepad fa-stack-1x text-primary fa-inverse"></i>
            </span>
            <h4 class="service-heading">JavaScript/HTML5 Online Games</h4>
            <p class="text-muted">I develop JavaScript HTML5 games with Phaser.JS framework and vanilla JS.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->

  <div id="app">
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Featured Projects</h2>
          <div class="section-subheading">
            I work remotely with partners around the world on exciting, meaningful projects great and small.
            As well as client work, I have also created a number of personal projects that allow me to explore new skills.
            Some examples of my work. Use buttons to filter by categories.
          </div>
          <div class="filter">
            <input type="radio" id="cat-all" checked="checked" v-model="search" value="" />
            <label for="cat-all">All</label>
            <input type="radio" id="cat-php" v-model="search" value="PHP" />
            <label for="cat-php">Custom Websites</label>
            <input type="radio" id="cat-wp" v-model="search" value="WordPress" />
            <label for="cat-wp">WordPress Websites</label>
            <input type="radio" id="cat-js" v-model="search" value="JS Games" />
            <label for="cat-js">JS Games</label>
            <input type="radio" id="cat-fb" v-model="search" value="FB Tabs" />
            <label for="cat-fb">Facebook Apps</label>
            <input type="radio" id="cat-other" v-model="search" value="Other" />
            <label for="cat-other">Other</label>
          </div>

        </div>
      </div>
      <div class="row" id="portfolio-items">
        <div v-for="(item, index) in filteredItems" class="col-lg-4 col-sm-6 portfolio-item" @click="showModal(item,index)">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal" >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" :src=item.thumbnail  alt="{{ item.title }}">
            <div class="portfolio-caption">
              <h4>{{ item.title }}</h4>
              <p class="">{{ item.shortDescription }}</p>
            </div>
          </a>
        </div>
      </div>
      <h3 class="another-brick">All in all it's just another brick in the wall.</h3>
    </div>

  </section>
  <div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div :id=modalItem.id class="carousel slide" :data-ride="'carousel'+modalItem.id">
                <ol class="carousel-indicators">
                  <li v-for="(item, index) in modalItem.images" :data-target="'#'+modalItem.id" :data-slide-to=index :class="{ 'active': index === 0 }"></li>
                </ol>
                <div class="carousel-inner">
                  <div v-for="(item, index) in modalItem.images" :class="{ 'active': index === 0 }" class="carousel-item">
                    <img class="d-block w-100" :src=item :alt=modalItem.title>
                  </div>
                </div>
                <a class="carousel-control-prev" :href="'#'+modalItem.id" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" :href="'#'+modalItem.id" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{modalItem.title}}</h2>
                <p class="item-intro text-muted">{{modalItem.shortDescription}}</p>
                <p>{{modalItem.description}}</p>

                <ul class="list-inline">
                  <li v-if='modalItem.link'>Url: <a target="_blank" :href=modalItem.link >{{modalItem.link }}</a></li>
                  <li v-if='modalItem.tech'>Tags: {{modalItem.tech.join(', ') }}</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- About -->
  <section class="page-section " id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Me</h2>
          <h3 class="section-subheading text-muted">Technologies I use.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="img/me.png" alt="Michael Ghukasyan" class="my-photo img-fluid">
        </div>
        <div class="col-md-8 my-skills">
            <h3>Frontend</h3>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fab fa-html5"></i> HTML5</li>
              <li class="list-inline-item"><i class="fab fa-css3"></i> CSS3</li>
              <li class="list-inline-item"><i class="fab fa-js"></i> JavaScript</li>
              <li class="list-inline-item"><i class="fab fa-bootstrap"></i> Bootstrap</li>
              <li class="list-inline-item"><i class="fab fa-jquery"></i> jQuery</li>
              <li class="list-inline-item"><i class="fab fa-vuejs"></i> Vue.js</li>
              <li class="list-inline-item"><i class="fab fa-react"></i> React.js</li>
              <li class="list-inline-item"><i class="fab fa-redux"></i> Redux</li>
            </ul>
            <h3>Backend</h3>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fab fa-php"></i> PHP</li>
              <li class="list-inline-item"><i class="fas fa-database"></i> MySQL</li>
              <li class="list-inline-item"><i class="fas fa-fire"></i> Codeigniter</li>
              <li class="list-inline-item"><i class="fas fa-yii2"></i> Yii2</li>
              <li class="list-inline-item"><i class="fab fa-laravel"></i> Laravel</li>
              <li class="list-inline-item"><i class="fab fa-google"></i> Firebase</li>
              <li class="list-inline-item"><i class="fab fa-node-js"></i> Node.JS</li>
              <li class="list-inline-item"><i class="fab fa-mongodb"></i> MongoDB</li>
            </ul>
            <h3>CMS</h3>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fab fa-wordpress"></i> WordPress</li>
              <li class="list-inline-item"><i class="fas fa-shopping-cart"></i> WooCommerce</li>
              <li class="list-inline-item"><i class="fab fa-magento"></i> Magento 2</li>
            </ul>
            <h3>Tools</h3>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fab fa-git-alt"></i> git</li>
              <li class="list-inline-item"><i class="fab fa-gulp"></i> gulp</li>
              <li class="list-inline-item"><i class="fas fa-cube"></i> webpack</li>
              <li class="list-inline-item"><i class="fab fa-composer"></i> composer</li>
            </ul>
        </div>
      </div>
      <div class="row work-stats">
        <div class="col-sm-3 col-6 stats">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <div class="counting" data-count="3">3+</div>
          <h5>Years of experience</h5>
        </div>

        <div class="col-sm-3 col-6 stats">
          <i class="fa fa-check" aria-hidden="true"></i>
          <div class="counting" data-count="100">100+</div>
          <h5>Projects done</h5>
        </div>

        <div class="col-sm-3 col-6 stats">
          <i class="fa fa-user" aria-hidden="true"></i>
          <div class="counting" data-count="20">20+</div>
          <h5>Happy clients</h5>
        </div>

        <div class="col-sm-3 col-6 stats">
          <i class="fa fa-coffee" aria-hidden="true"></i>
          <div class="counting" data-count="999">1000+</div>
          <h5>Cups of coffee</h5>
        </div>
      </div>
    </div>
  </section>


  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Let's work together.</h2>
          <h3 class="section-subheading text-white">I’m currently available for freelance work. If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch. towards a quote, use the form below or email <a href="mailto:work@ghukasyan.me">work@ghukasyan.me</a>. I'll reply within one working day.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-9 mx-auto row">
                <div class="form-group col-md-6">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group col-md-12">
                  <textarea class="form-control" id="message" placeholder="Tell me about your project * (please include deadlines and approximate budget)" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Contact me</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Michael Ghukasyan 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://web.facebook.com/michaelghukasyan">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:work@ghukasyan.me">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/redmikay">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          Designed and developed by <img src="img/logo.png" alt="Michael Ghukasyan">.
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Vue.js -->
  <script src="js/vue.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/ghukasyan.min.js"></script>

</body>

</html>
